@font-face {font-family: "Daimler CAC Regular";
  src: url("../fonts/Daimler CAC Regular/0de280340df9c67a5d4e8fb82310b4ad.eot"); /* IE9*/
  src: url("../fonts/Daimler CAC Regular/0de280340df9c67a5d4e8fb82310b4ad.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Daimler CAC Regular/0de280340df9c67a5d4e8fb82310b4ad.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/Daimler CAC Regular/0de280340df9c67a5d4e8fb82310b4ad.woff") format("woff"), /* chrome、firefox */
  url("../fonts/Daimler CAC Regular/0de280340df9c67a5d4e8fb82310b4ad.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/Daimler CAC Regular/0de280340df9c67a5d4e8fb82310b4ad.svg#Daimler CAC Regular") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Daimler CS Regular";
  src: url("../fonts/Daimler CS Regular/23fe921c6f711d75677bd6b351ac9418.eot"); /* IE9*/
  src: url("../fonts/Daimler CS Regular/23fe921c6f711d75677bd6b351ac9418.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Daimler CS Regular/23fe921c6f711d75677bd6b351ac9418.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/Daimler CS Regular/23fe921c6f711d75677bd6b351ac9418.woff") format("woff"), /* chrome、firefox */
  url("../fonts/Daimler CS Regular/23fe921c6f711d75677bd6b351ac9418.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/Daimler CS Regular/23fe921c6f711d75677bd6b351ac9418.svg#Daimler CS Regular") format("svg"); /* iOS 4.1- */
}